[submodule "mods/ctf/ctf_map/maps"]
	path = mods/ctf/ctf_map/maps
	url = https://codeberg.org/Minetest-JMA-Group/jma-maps
[submodule "mods/shared"]
	path = mods/shared
	url = https://codeberg.org/Minetest-JMA-Group/jma-shared
[submodule ".vscode"]
	path = .vscode
	url = https://codeberg.org/Minetest-JMA-Group/luanti-luals
